html,
body,
#app {
    height: 100%;
    overflow: hidden;
}

body {
    padding: 20px 30px;
    background: #efe9e6;
}

.Info {
    text-align: left;
    font-family: 'Fira Sans', sans-serif;
    position: relative;
}

.Info__Name {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.Info__Description {
    margin-bottom: 20px;
    font-size: 19px;
    font-family: 'Fira Sans', sans-serif;
    color: #626466;
}

.Info__Button {
    color: #4183C4;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: 2px solid #4183C4;
    border-radius: 4px;
    padding: 8px 16px;
    transition-duration: .3s;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    top: 14px;
    right: 0;
}

.Info__Button:hover {
    background: #4183C4;
    color: white;
}

.GridWrapper {
    height: calc(100% - 140px);
    overflow: hidden;
    position: relative;
}

.ExampleCodeButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 20;
}

.SpreadsheetGrid__cell_disabled.Grid__photoCell {
    background: #fff;
    text-align: center;
    padding: 6px;
}

.SpreadsheetGrid__cell_disabled.Grid__photoCell > img {
    opacity: 1;
}